body {
  font-family: 'Lato', sans-serif;
}

img {
  max-width: 100%
}

.delete-float {
  float: none;
}

.delete-space {
  margin-top: 100px
}

.pacifico {
  font-family: 'Pacifico', cursive;
}

.set-gray {
  background-color: #EEE;
}

.vertical-up {
  vertical-align: top;
}

.large-padding {
  padding: 5px 10px;
}

.big {
  font-size: 4em;
}

.verde {
  color: #0D7313;
}

.right-space {
  margin-right: 1em;
}

.no-list {
  margin: 0px;
  padding: 0px;
}

.no-list li {
  list-style-type: none;
}

.inline-block {
  float: none;
  display: inline-block;
  margin-right: -4px;
}

a,.green {
  color: #AF9624;
}
